<!--This is the index in the dashboard will be displayed
By default this page will display a list of sticker board options available to the user. The user will also be able to make a new sticker board on this page-->

<%= render 'dashboard/header'%>

<!--Perform if statement to check a sticker board has been chosen.
	If a board has been chosen, do not draw these three.-->
<!--Insert a for loop that goes through each sticker board option-->
<div class="stickerBoardName" onClick="">
	<p><%= %><!--insert name of the stickerboards--></p>
</div>
<!--end for loop-->
<div id="addStickerBoard" onClick="">
	<p><strong>+</strong></p>
</div>

<!--First check if a sticker board has been chosen-->
<!--If a sticker board has been chosen, start printing that 
	stickers boards sitckers. This will have to be eloborated on more-->


<!--<h1>Dashboard#index</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>-->
<div class=container
